.login-page {
  width: 100%;
  padding-top: 30px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

.login-box-shadow {
  -webkit-box-shadow: 50px 50px 50px -10px rgba(255, 0, 240, 0.1),
    -50px -50px 50px -10px rgba(64, 255, 75, 0.1);
  box-shadow: 50px 50px 50px -10px rgba(255, 0, 240, 0.1),
    -50px -50px 50px -10px rgba(64, 255, 75, 0.1);
}
.login-card-radius {
  border-radius: 15px;
}

.login-img {
  position: fixed;
  bottom: 0;
  left: 0;
}

.btn-primary,
.bg-primary {
  background-color: #4a85c5 !important;
}
.text-primary {
  color: #4a85c5 !important;
}

.error-feedback {
  font-size: 11px;
  color: red;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
  z-index: 2;
}
.input-container label,
.input-container input:placeholder-shown ~ label {
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 16px;
  color: gray;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid rgb(185, 185, 185);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: rgb(90, 90, 90);
}

.input-container input:focus,
.input-container input:not(:placeholder-shown) {
  outline: none;
  border-bottom: 2px solid #a8d5ff;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  top: -17px;
  color: #4a85c5;
  font-size: 12px;
  font-weight: bold;
}

.invalid-form input:focus ~ label,
.invalid-form input:not(:placeholder-shown) ~ label,
.invalid-form label,
.invalid-form input:placeholder-shown ~ label {
  color: red;
}

.invalid-form input:focus,
.invalid-form input:not(:placeholder-shown),
.invalid-form input {
  border-bottom: 1px solid red;
}

.sidebar-menu small {
  display: block;
  padding: 8px 0 8px 20px;
  color: gray;
  font-size: 12px;
  font-weight: 500;
}

.sidebar-menu small:hover {
  background-color: #e7f3ff;
  color: #4a85c5;
  font-weight: bolder;
}

.sidebar-menu .sidebar-submenu {
  padding-left: 40px;
  padding-top: 0px;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.search-input {
  float: left;
  width: 80%;
  background: white;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  font-size: 12px;
}

.search-input-button {
  float: left;
  width: 10%;
  background: white;
  color: gray;
  font-size: 12px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  cursor: pointer;
}

.btn-upgrade {
  background-color: #ef8019;
  font-size: 14px;
}

.progress {
  height: 5px;
  width: 100px;
}

.filter-transition {
  background: #fff;
  overflow: hidden;

  transition: all 0.5s ease-in-out;

  color: transparent;
}

.library-list li:hover {
  background-color: #e7f3ff;
}

.library-item {
  display: inline-block;
}

.library-list li small {
  font-weight: 500;
}

.library-table {
  font-size: 11px;
  font-weight: 500;
}

.file-detail small {
  font-size: 11px;
  color: rgb(158, 158, 158);
  font-weight: 500;
}

.file-detail p {
  font-size: 13px;
  color: rgb(83, 83, 83);
  font-weight: 500;
}

.filter-form label {
  font-size: 11px;
}

.filter-form select {
  font-size: 11px;
  height: 25px;
}

@media only screen and (min-width: 1920px) {
  .margin-xl {
    margin-top: 100px;
  }
}

.filter-bar {
  height: 0;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.file-items {
  max-width: 100px;
}

.file-items-image {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 84px;
}

.file-items small {
  line-height: 18px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 55px;
}

.active-item {
  background-color: #d0e7ff;
}

.react-contexify {
  -webkit-box-shadow: 2px 2px 3px 1px rgba(134, 134, 134, 0.068) !important;
  box-shadow: 2px 2px 3px 1px rgba(134, 134, 134, 0.068) !important;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus
  > .react-contexify__item__content {
  background-color: #dbedff !important;
  color: rgb(32, 47, 97) !important;
}
